section.h-screen.text-white.overflow-hidden
  ul.relative.w-full.h-full.overflow-hidden
    li.js-hero-item.absolute.inset-0
      a(href='projects.html')
        figure.w-full.h-full.relative
          img.absolute.w-full.h-full.inset-0.object-cover(src='../assets/images/bg-1.jpg' alt='Lake Conroe' loading='lazy')

          .absolute.left-0.top-0.w-full.bg-gradient-to-b.from-black.opacity-40(class='h-1/3 to-black/0')
          .absolute.left-0.bottom-0.w-full.bg-gradient-to-t.from-black.opacity-40(class='h-1/3 to-black/0')

          figcaption.absolute.left-5.bottom-8(class='lg:left-10 lg:bottom-5 w-1/2')
            h2.text-white.font-normal.uppercase.text-xl Lake Conroe
    li.js-hero-item.absolute.inset-0
      a(href='projects.html')
        figure.w-full.h-full.relative
          img.absolute.w-full.h-full.inset-0.object-cover(src='../assets/images/bg-2.jpg' alt='Moss Street Residence' loading='lazy')

          .absolute.left-0.top-0.w-full.bg-gradient-to-b.from-black.opacity-40(class='h-1/3 to-black/0')
          .absolute.left-0.bottom-0.w-full.bg-gradient-to-t.from-black.opacity-40(class='h-1/3 to-black/0')

          figcaption.absolute.left-5.bottom-8(class='lg:left-10 lg:bottom-5 w-1/2')
            h2.text-white.font-normal.uppercase.text-xl Moss Street Residence
