doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title NANO - Projects
  body.bg-dark
    include ./includes/transition.pug
    include ./includes/header.pug

    main
      section.h-screen.bg-dark.flex.items-center.justify-center.text-white Projects
